body{
    margin: 0%;
}
.contenido{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    height: 100vh;
}
.derecha{
    background: #ffd700;
    display: flex;
    place-items: center;
    text-align:center;
    justify-content: center;
    flex-direction: column;
}
.activar{
    margin: 5px;
    padding:10px 40px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ffd700;
    border-radius: 20px;
    text-align:center;
    cursor: pointer;
}
.activar:hover{
    color: #fff;
    background-color: #440046;
    transition: 0.4s ease;
}
.activar:focus{
    color: black;
    background-color: #fff;
}
.logo{
    align-self: center;
    width: 190px;
}
.enunciado{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ayuda{
    margin-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.soporte{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link{
    font-style: italic
}
.link:hover{
    text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}

.izquierda{
    background-image: url(/static/img/fondo4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
}